{% extends 'base.html' %}

{% load utils %}

{% block content %}
	<h2>{{ mag.name|capfirst }}</h2>
	{% if articles %}
		{% for tup in scores %}
			<div class="row article">
				<div class="col-md-2 hidden-xs hidden-sm">
					{% for article in tup %}
						{% if forloop.counter == 1 %}
							<div class="status-circle" article="{{ article.id }}"
							     mag="{{ article.magazine_posted.id }}">

							</div>
							</div>
							<div class="col-md-9">
							<h3>{{ forloop.parentloop.counter }}. <a href="{{ article.hyperlink }}"
							                                         target="_blanks">{{ article.article_name }}</a>
							</h3>

							<p><b>Submitted on</b>: {{ article.date_submitted|date:"DATETIME_FORMAT" }}
								<b>by</b> {{ article.posted_by.username }}</p>

							<p><a href="{% url 'magazine:article' article.id %}">Comments</a>
								{% else %}
								<strong>Score:</strong> {{ article }}</p>
						{% endif %}
					{% endfor %}
					</div>
			</div>
		{% endfor %}
	{% else %}
		<div class="row">
			<div class="col-sm-12">
				<p>There's nothing here!</p>
			</div>
		</div>
	{% endif %}
{% endblock %}